<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.bts.dao.ClientInfoDao">
	
	<sql id="AccountParam">
		USERID, REALNAME, CARDNUMBER, IDCARD, APASSWORD, BPASSWORD, OPENDATE, IOPENDATE, 
	    OPENPLACE, ACCOUNTYPE, ACCOUNTSUBJECT, PHONE, HOUSE, AMOUNTLIMIT, DELETETYPE, UPTIME, 
	    MONEY
	</sql>
	
	<select id="pageClientInfo" parameterType="page"  resultType="Account">
		select <include refid="AccountParam"/> from Account  <include refid="whereQCsql"/> Order By uptime Desc 
	</select>
	
	<update id="del" parameterType="Integer">
		update Account set deletetype=1 where userid=#{id}
	</update>
	<select id="queryById" resultType="Account">
		select <include refid="AccountParam"/> from Account where userid=#{id}
	</select>
	
	<update id="updateAc" parameterType="Account">
		update Account set deletetype=#{deletetype} , phone=#{phone},uptime=#{uptime} where userid=#{userid}
	</update>

	<sql id="whereQCsql">
		<where>
			and  deletetype=0 
			<if test="userid!=null and userid!=''">
				AND userid =#{userid} 
			</if>
			<if test="realname!=null and realname!=''">
				AND realname like '%${realname}%'
			</if>
			<if test="cardnumber!=null and cardnumber!=''">
				AND cardnumber =#{cardnumber}
			</if>
			<if test="datestart!=null and datestart!=''">
				AND to_date(opendate,'yyyy-mm-dd') &gt;=to_date(#{datestart},'yyyy-mm-dd')
			</if>
			<if test="dateend!=null and dateend!=''">
				AND to_date(opendate,'yyyy-mm-dd')  &lt;=to_date(#{dateend},'yyyy-mm-dd')
			</if>
			<if test="phone!=null and phone!=''">
				AND phone =#{phone}
			</if>
			<if test="accountype!=null and accountype!=''">
				AND accountype =#{accountype}
			</if>
			<if test="idcard!=null and idcard!=''">
				AND idcard =#{idcard}
			</if>
		</where>

	</sql> 
	
	
	
</mapper>